{% extends 'base.html' %}

{% block content %}

    <div class="hero is-info is-medium">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="#" class="navbar-item">
                            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>
                    </div>
                    <div class="navbar-end"></div>
                </div>
            </nav>
        </div>
        <div class="hero-body"></div>
    </div>

{% endblock content %}