{% extends 'base.html' %}

{% block content %}

<section class="hero is-danger is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" style="text-align: center">FACC</h1>
        </div>
    </div>
</section>

<div class="container is-content" style="margin-top: 20px">

    <div class="columns">

        <div class="column is-half">

            <form action="" method="post">
                <div class="field">
                    <label class="label" for="nome">Nome Completo:</label>
                    <div class="control">
                        <input id="nome" name="nome" class="input" type="text" placeholder="e.g Alex Smith">
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="curso">Curso:</label>
                    <div class="control">
                        <input type="text" id="curso" name="curso" class="input"
                            placeholder="Você quer cursar qual graduação?">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="nivel">Nível:</label>
                    <div class="select">
                        <select name="nivel" id="nivel">
                          <option value="graduação" selected>Graduação</option>
                          <option value="mestrado">Mestrado</option>
                          <option value="doutorado">Doutorado</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="control">
                    <input type="submit" id="gerar_certificado" name="gerar" class="button is-danger">
                </div>
            </form>

        </div>
        <div class="column is-half">
            <img class='is-image' src="{{ url_for('static', filename='images/images.jpeg') }}" alt="" srcset="">
        </div>
    </div>



</div>

{% endblock content %}